@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply antialiased;
}

body {
  @apply text-sm leading-6;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: #fafafa;
}

@layer utilities {
  .spin-none {
    appearance: textfield;

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      appearance: none;
    }
  }

  .vertical-writing {
    writing-mode: vertical-rl;
  }

  .scroll-smooth {
    scroll-behavior: smooth;
  }
}

@layer components {
  .centering-height-full > div {
    @apply h-full relative;

    > div, > p {
      @apply top-1/2 relative w-full;
      transform: translate(0, -50%);
    }
  }

  .card {
    @apply bg-white border border-solid box-border rounded shadow text-center;
  }

  .arrow {
    @apply relative inline-block cursor-pointer;
    @apply before:w-2 before:h-2 before:absolute before:inset-0 before:m-auto;
    @apply before:border-solid before:border-black before:border-t-2 before:border-r-2 before:rounded-sm;
  }

  .arrow-left {
    @apply arrow;
    @apply before:rotate-[-135deg];
  }

  .arrow-right {
    @apply arrow;
    @apply before:rotate-45
  }
}
